*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.List ul li{
    display: inline-block;
} 
.List ul li a{
    text-decoration: none;
    padding: 20px 20px;
}
.SecondLogo img{
padding: 10px 10px;
}
hr{
    margin: 0 13%;
}

.Firstsection{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.Firstsection{
   margin-top: 4%;
   gap: 6%;
}
.firstimage img{
    border-radius: 15px;
}
.secondimage{
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 25px;
  margin-top: 15px;
}
.Topic{
margin-bottom: 40px;
}
.Topic h2{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 2px;
}
.Topic h3{
    font-size: 40px;
}
.Written{
    margin-bottom: 20px;
}
.Money{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.Dollar p{
    font-size: 20px;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color:whitesmoke;
    width: 120px;
    gap: 20px;
    border-radius: 5px;
}
.Put{
    display: flex;
    gap: 20px;
}
.Detail{
    margin-bottom: 10px;
}
.btn button{
    width: 200px;
    height: 45px;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(255, 149, 0);

}
.Anotherbtn{
    display: none;
}
.Menu{
    display: none;
}
@media only screen and (max-width:600px){
    .main{
    width: 50px;
    }
   .List{
    display: none;
   }
   hr{
    display: none;
   }
   .SecondLogo{
    display: flex;
    margin-left: 150%;
   }
   .SecondLogo img{
    width: 50px;
   }
   .Firstsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 381%;
   }
   .firstimage img{
    border-radius: 0%;
   height: 90%;
   
   }
   .secondimage{
    display: none;
   }
   .Topic h2{
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: 100;
   }
   .Topic h3{
    font-size: 30px;
   }
   .Written{
    margin-bottom: 50px;
   }
   .Posting{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    margin-bottom: 50px;
    
   }
   .Put{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
   }
  .plus{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
 .btn button{
   padding-left: 165px;
   padding-right: 165px;
   

 }
 button p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .Secondsection{
    margin-left: 20px;

 }
 .Menu{
    display: block;
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 20px;
 }
  
  
}
